/* Подключение иконок */
@import url('fonts/css/font-awesome.css');

* {
	box-sizing: border-box;
}

body {
	background-color: #405060;
}

a {
	color: #000;
	text-decoration: none;
}

html,
body,
#root {
	height: 100%;
}
